.fullWidthTabs .ant-tabs {
  display: flex !important;
  justify-content: space-around !important;
}

.fullWidthTabs .ant-tabs-tab {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.ant-tabs-nav .ant-tabs-nav-wrap:not([class*='ant-tabs-nav-wrap-ping']) {
  overflow: scroll;
}

