.btnRegular {
  border-radius: 100px;
  border: 2px solid #5ec6fa;
  color: #fff;
}
.btnRegular:hover {
  border-radius: 100px;
  border: 2px solid #5ec6fa;
  color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(94, 198, 250, 0.44) inset;
}

.btnRegular:hover span {
  color: #fff !important;
}

.btnPrimary {
  border-radius: 100px;
  background: linear-gradient(280deg, #2f55e5 -15.76%, #5ebffa 83.46%);
  border: none;
  color: #fff;
}
