.cardWrapper {
  width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Sofia Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  letter-spacing: 0.16px;
  border-radius: 10px;
  border: 2px solid rgba(62, 133, 246, 0.5);
  transition: all 0.2s;
  margin-bottom: 16px;
}
.cardWrapper:hover {
  box-shadow: 0px 0px 40px 0px rgba(94, 198, 250, 0.44) inset;
}
.rating {
  height: 25px;
  margin-bottom: 10px;
}
.text {
  margin-bottom: 10px;
  font-family: Sofia Sans;
}
