.wrapper {
  position: relative;
  width: 284px;
}

.input {
  font-family: Sofia Sans;
  padding-left: 20px;
  border-radius: 32px;
  border: 1.5px solid rgba(94, 198, 250, 0.5);
  background: #030827;
  height: 43px;
  width: 284px;
  color: #fff;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
}

.btn {
  font-family: Sofia Sans;
  position: absolute;
  width: 88px;
  height: 43px;
  border-radius: 100px;
  border: 2px solid #5ec6fa;
  color: #fff !important;
  background: #070f2f;
  top: 0;
  right: 0px;
}
