.headerWrapper {
  padding: 0 56px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 1440px;
  display: none;
  visibility: hidden;
}

.logoWrapper {
  /* display: flex; */
}

.btns {
  max-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1169px) {
  .headerWrapper {
    display: flex;
    visibility: visible;
  }
}
