.wrapper {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  height: 60px;
  transition: height 0.3s ease;
}

.chat.open {
  border-radius: 40px;
  border: 2px solid rgba(62, 133, 246, 0.5);
  background: #050a29;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.input {
  font-family: Sofia Sans;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 32px;
  border: 1.5px solid rgba(94, 198, 250, 0.5);
  background: #030827;
  height: 60px;
  width: 100%;
  color: #fff;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  font-size: 18px;
}

.btn {
  font-family: Sofia Sans;
  font-size: 18px;
  position: absolute;
  width: 110px;
  height: 60px;
  border-radius: 100px;
  border: 2px solid #5ec6fa;
  color: #fff !important;
  background: #070f2f;
  top: 0;
  right: 0px;
}
.messagesWrapper {
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.closeIcon svg:hover {
  cursor: pointer;
}
@media (max-width: 700px) {
  .input {
    max-width: 400px;
  }
  .wrapper {
    max-width: 400px;
  }
}
