.chatPreview {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 30px;
  max-width: 450px;
  width: 100vw;
  max-height: 800px;
  height: 60vh;
  margin-top: 45px;
  margin: 0 auto;
}

.chatPreviewHeader {
  max-height: 90px;
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(234, 234, 234);
  padding-left: 10px;
}

.ChatPreviewImgWrapper {
  display: flex;
  align-items: center;
  height: 100px;
}

.chatPreviewName {
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.6;
}

.chatPreviewContent {
  padding: 20px;
  height: 40vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chatPreviewFooter {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 5.1vh;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
}

.chatPreviewInput {
  height: 50px;
  width: 80%;
  margin: 0 10px;
}

.chatPreviewReloadButton {
  padding-top: 9px !important;
  background-color: white;
  width: 50px !important;
  height: 50px !important;
}
