.h1 {
  color: rgba(255, 255, 255, 0.95);
  font-family: Sofia Sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 72px */
}
/* 56 */
.h2 {
  color: rgba(255, 255, 255, 0.95);
  font-family: Sofia Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
}
/* 28 */
.h3 {
  color: rgba(255, 255, 255, 0.95);
  font-family: Sofia Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* 24 */
.subtitleH1 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Sofia Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}
/* 20 */
.subtitleH2 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Sofia Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: 0.4px;
}
/* 18 */
.bodyText {
  color: rgba(255, 255, 255, 0.6);
  font-family: Sofia Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.gradientText {
  background: linear-gradient(to right, #5ebffa, #2f55e5);
  -webkit-background-clip: text;
  color: transparent;
  background-position: 70% center;
}

.mainPage {
  background: #030827;
}
.experience {
  width: 100vw;
  height: 100vh;
  background: #030827;
}

.centralWrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background-image: url('/imgGeneralPage/bg-sphere.png');
  /* background-size: cover; Растягивает изображение на весь блок */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Предотвращает повторение */
}
