.h1 {
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  font-family: Sofia Sans;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 36px */
}
.h2 {
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  /* h2 mob */
  font-family: Sofia Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  letter-spacing: 0.6px;
  margin-bottom: 80px;
}
.h3 {
  color: rgba(255, 255, 255, 0.95);
  font-family: Sofia Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subtitleH1 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Sofia Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 21.6px */
  letter-spacing: 0.36px;
}
.subtitleH2 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Sofia Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: 0.4px;
}

.generalWrapper {
  background: #030827;
  padding-top: 10px;
}
.bodyText {
  color: rgba(255, 255, 255, 0.6);
  font-family: Sofia Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.gradientText {
  background: linear-gradient(to right, #5ebffa, #2f55e5);
  -webkit-background-clip: text;
  color: transparent;
  background-position: 70% center;
}

.mainPage {
  /* background: #030827; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.experience {
  margin-top: 120px;
  width: 100vw;
  min-height: 100%;
  background: #030827;
  padding: 0 16px;
  background-image: url('/imgGeneralPage/mobile_bg.png');
  background-size: 100vw;
  background-position: 0px 175px;
  background-repeat: no-repeat;
}

.centralWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.godmansText {
  margin-top: 30px;
  margin-bottom: 72px;
}

.benefitsWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 98px;
}

.benefit {
  margin-bottom: 32px;
}

.benifitText {
  color: #fff;
  font-family: Sofia Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 14px */
  letter-spacing: 0.28px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.benifitSubtitle {
  color: rgba(255, 255, 255, 0.95);
  font-family: Sofia Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* feautures SECTION */
.section {
  padding: 0 16px;
  padding-bottom: 120px;
}

.textAfter {
  margin-bottom: 88px;
}
.futuresText {
  margin-bottom: 88px;
}
.casesText {
  margin-bottom: 88px;
}

.pricingCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staWrapper {
  display: flex;
  padding: 68px 24px;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  border-top: 1px solid #2f55e5;
  border-bottom: 1px solid #2f55e5;
}

.staSection {
  background-image: url('/imgGeneralPage/bg_sta.png');
  background-size: 100vw;
  background-position: 0px 115px;
  background-repeat: no-repeat;
}

.staText {
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  /* h2 mob */
  font-family: Sofia Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  letter-spacing: 0.6px;
  margin-bottom: 80px;
}

.inputSign {
  border-radius: 32px;
  border: 2px solid rgba(94, 198, 250, 0.5);
  background: #070f2f;
  width: 100%;
  max-width: 350px !important;
  text-align: center;
  height: 54px;
  margin-bottom: 24px;
}

.inputSign::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Sofia Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 14px */
  letter-spacing: 0.28px;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/imgGeneralPage/bg_footer_mobile.png');
  background-size: 100vw;
  /* background-position: 0px 115px; */
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  margin-bottom: 24px;
}
.logoText {
  color: #fff;
  font-family: Sofia Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.333px;
}

.futures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/imgGeneralPage/general_ellipse.png'),
    url('/imgGeneralPage/general_ellipse.png');
  background-size: 75vh, 74vh;
  background-position: -190px 115px, 50px 1000px;
  background-repeat: no-repeat, no-repeat;
}

.help {
  background-image: url('/imgGeneralPage/general_ellipse.png');
  background-size: 75vh;
  background-position: -250px 155px;
  background-repeat: no-repeat;
}

.imgFooter {
  margin-right: 10px;
  height: 26px;
}

.discoverNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footerSubtitle {
  color: rgba(255, 255, 255, 0.85);
  font-family: Sofia Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
}

.footerlink {
  color: rgba(255, 255, 255, 0.5);
  font-family: Sofia Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 14px */
  letter-spacing: 0.28px;
  margin-top: 10px;
}

.legalNav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.log {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.footerLoglink {
  color: rgba(94, 198, 250, 0.8);
  font-family: Sofia Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 10px;
}

.corp {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Sofia Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px; /* 100% */
}

@media (min-width: 1169px) {
  .section {
    padding: 0 0;
  }
  .h1 {
    font-size: 72px;
    font-style: normal;
    display: block;
    max-width: 1150px;
    margin: 0 auto;
  }
  .experience {
    background: transparent;
    background-image: none;
  }
  .generalWrapper {
    background-image: url(/imgGeneralPage/Ellipse_desctop_general.png),
      url(/imgGeneralPage/Ellipse_desctop_general.png),
      url(/imgGeneralPage/bg_planet_web.png);
    background-size: 800px auto, 800px auto, 1440px auto;
    background-position: calc(50% - 700px) 500px, calc(50% + 600px) 600px,
      center -70px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  .godmansText {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 771px;
    color: rgba(255, 255, 255, 0.9);
    font-family: Sofia Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.48px;
    margin-top: 25px;
  }
  .benefitsWrapper {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0 80px;
  }
  .h2 {
    font-family: Sofia Sans;
    font-size: 56px;
    font-weight: 600;
    line-height: normal; /* 30px */
    letter-spacing: 1.12px;
    margin-bottom: 0px;
  }
  .benifitSubtitle {
    font-size: 32px;
  }
  .futures {
    background-image: none;
  }
  .futuresText {
    max-width: 712px;
    margin: 0 auto;
    margin-top: 16px;
  }
  .futuresCards {
    margin-top: 80px !important;
    padding: 0 80px;
    max-width: 1440px;
    margin-bottom: 280px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .cases {
    padding-top: 280px;
    padding-bottom: 140px;
    background-image: url(/imgGeneralPage/Ellipse_desctop_general.png);
    background-size: 800px auto;
    background-position: center 215px;
    background-repeat: no-repeat;
  }
  .casesText {
    max-width: 728px;
    margin: 0 auto;
  }
  .casesCards {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    justify-content: space-evenly;
  }
  .pricing {
    margin-top: 140px;
    padding-bottom: 140px;
    background-image: url(/imgGeneralPage/Ellipse_desctop_general_deg.png);
    background-size: 1300px auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  .pricingCards {
    margin: 0 auto;
    padding: 0 80px;
    margin-top: 80px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1440px;
  }
  .help {
    padding-top: 140px;
    background-position: calc(50% - 750px) -100px;
    margin: 0 auto;
  }
  .toggleCards {
    padding: 0 80px;
    margin-top: 80px;
    padding-bottom: 280px;
  }
  .staSection {
    padding: 0 80px;
    background-image: url(/imgGeneralPage/sta_bg_desktop.png);
    background-size: 1400px auto;
    background-position: center 45px;
    background-repeat: no-repeat;
  }
  .staWrapper {
    padding: 120px;
    height: 490px;
    margin-bottom: 280px;
    max-width: 1280px;
    margin: 0 auto;
  }
  .staText {
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 66.3px */
    letter-spacing: 1.02px;
    max-width: 882px;
  }
  .btnsStaWrap {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputSign {
    width: 500px !important;
    min-width: 500px;
    max-width: 500px;
    padding-right: 235px;
  }
  .regul {
    width: 167px !important;
    position: absolute;
    right: 0px;
  }
  .corpHidden {
    display: none;
    visibility: hidden;
  }
  .footerWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url('/imgGeneralPage/footer_stars_desktop.png');
    background-size: 1640px auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  .discoverNav {
    justify-content: space-around;
  }
  .legalNav {
    margin-top: 0px;
    justify-content: space-around;
  }
  .footer {
    margin-top: 280px;
  }
  .log {
    margin-top: 0;
  }
}
