@tailwind base;
@tailwind components;
@tailwind utilities;

.big-placeholder::placeholder {
  font-size: 1.25rem;
}
@font-face {
  font-family: 'haborosansnormregular';
  src: url('../public/fonts/haborosansnormregular-webfont.woff2')
      format('woff2'),
    url('../public/fonts/haborosansnormregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
ol li {
  list-style: decimal inside;
}

body {
  cursor: url('/imgGeneralPage/hover_coursor.png'), auto;
}
